/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Poppins', sans-serif;

$primarytextColor: #fff;
$secondarytextColor: #000;

$primaryBgColor: rgb(238,238,238);
$secondaryBgColor: #e0466b;

$fullWidth: 100vw;
$fullheight: 100vh;

$width100: 100%;
$height100: 100%