/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Poppins', sans-serif;

$primaryColor: #fff;
$secondaryColor: #000;

$primaryBgColor: rgb(238,238,238);
$secondaryBgColor: #e0466b;
$secondaryBgColorLight: #cc798c;

$colorGreen: #2c8973;
$colorGreenLight: #1baa89;

$fullWidth: 100vw;
$fullheight: 100vh;

$width100: 100%;
$height100: 100%